include src/adb_scr/res/scrcpy-server.bin

recursive-include native_code/macOS/include *
recursive-include native_code/macOS/src *
recursive-include native_code/Windows/include *.h
recursive-include native_code/Windows/src *.cpp

prune tests
prune docs
exclude AGENTS.md
